// workaround for shifted rgb functions not working in zmk
// see https://github.com/manna-harbour/miryoku_zmk?tab=readme-ov-file#global-shift-functions
ZMK_COMBO(rgb_brd, &rgb_ug RGB_BRD, LM1 RT3, U_MEDIA)
ZMK_COMBO(rgb_sai, &rgb_ug RGB_SAD, LM1 RT2, U_MEDIA)

#undef COMBO_TERM
#define COMBO_TERM 100

ZMK_BEHAVIOR(apos_under, mod_morph, 
  bindings = <&kp APOS>, <&kp UNDER>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_BEHAVIOR(comma_qmark, mod_morph, 
  bindings = <&kp COMMA>, <&kp QMARK>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_BEHAVIOR(dot_gt, mod_morph, 
  bindings = <&kp DOT>, <&kp GT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_BEHAVIOR(minus_dqt, mod_morph, 
  bindings = <&kp MINUS>, <&kp DQT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_BEHAVIOR(slash_lt, mod_morph, 
  bindings = <&kp SLASH>, <&kp LT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_BEHAVIOR(ht_minus_dqt, hold_tap,
  bindings = <&kp>, <&minus_dqt>;
  tapping-term-ms = <200>;
)

ZMK_BEHAVIOR(skq, sticky_key,
  bindings = <&kp>;
  release-after-ms = <300>;
  quick-release;
  ignore-modifiers;
)

ZMK_BEHAVIOR(sc_dot, macro,
    bindings = <&dot_gt &sl U_SEN>;
)

ZMK_BEHAVIOR(sc_space_shift, macro,
  bindings = <&kp SPACE &sk LSHFT>;
)

ZMK_BEHAVIOR(sc_mo_space_shift, hold_tap,
  tapping-term-ms = <135>;
  quick-tap-ms = <0>;
  flavor = "tap-preferred";
  bindings = <&mo>, <&sc_space_shift>;
)

ZMK_BEHAVIOR(shifted, macro_one_param,
  bindings =
    <&macro_press &kp LSHFT>,
    <&macro_param_1to1 &macro_tap &kp MACRO_PLACEHOLDER>,
    <&macro_release &kp LSHFT>;
)
ZMK_BEHAVIOR(as_ht, hold_tap,
  tapping-term-ms = <300>;
  quick-tap-ms = <0>;
  flavor = "tap-preferred";
  bindings = <&shifted>, <&kp>;
)

ZMK_BEHAVIOR(as, macro_one_param,
  bindings =
      <&macro_press>,
      <&macro_param_1to1>,
      <&macro_param_1to2>,
      <&as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>,
      <&macro_pause_for_release>,
      <&macro_release>,
      <&macro_param_1to1>,
      <&macro_param_1to2>,
      <&as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;
)

ZMK_BEHAVIOR(tripple_grave, macro,
  bindings = 
    <&macro_release &kp LSHFT>,
    <&macro_tap &kp GRAVE &kp GRAVE &kp GRAVE>;
)

ZMK_BEHAVIOR(tg, mod_morph,
  bindings = <&kp GRAVE>, <&tripple_grave>;
  mods = <(MOD_LSFT)>;
)

// Alt+Tab swapper, requires PR #1366
ZMK_BEHAVIOR(swapper, tri_state,
    bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;
    timeout-ms = <500>;
    ignored-key-positions = <LB1 LB2 LB3 LM1 RM1>;
)

ZMK_BEHAVIOR(updir, macro,
    bindings = <&kp DOT &kp DOT &kp SLASH>;
)

ZMK_BEHAVIOR(ip, macro,
    bindings = <&sk LSHFT &kp D &kp A &kp V &kp I &kp D &kp SPACE &sk LSHFT &kp S &kp T &kp E &kp I &kp N &kp B &kp E &kp R &kp G &kp E &kp R>;
)

ZMK_BEHAVIOR(ep, macro,
    bindings = <&kp M &kp A &kp I &kp L &kp DOT &kp S &kp T &kp E &kp I &kp N &kp B &kp E &kp R &kp G &kp E &kp R &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
)

ZMK_BEHAVIOR(iw, macro,
    bindings = <&kp KP_N1 &kp KP_N0 &kp KP_N5 &kp KP_N0 &kp KP_N4 &kp KP_N2 &kp KP_N6 &kp KP_N9 &kp KP_N7>;
)

ZMK_BEHAVIOR(ew, macro,
    bindings = < &kp D &kp A &kp V &kp I &kp D &kp DOT &kp S &kp T &kp E &kp I &kp N &kp B &kp E &kp R &kp G &kp E &kp R &kp AT &kp I &kp N &kp N &kp I &kp O &kp DOT &kp C &kp O &kp M>;
)

ZMK_BEHAVIOR(tmux, macro,
    bindings = <&sk RCTRL &kp SPACE>;
)

ZMK_BEHAVIOR(ctrlalt, macro,
    bindings = <&macro_press &kp LCTRL &kp LALT>
    , <&macro_pause_for_release>
    , <&macro_release &kp LCTRL &kp LALT>;
)

ZMK_BEHAVIOR(every, macro,
    bindings = <&kp E &kp V &kp E &kp R &kp Y>;
)

ZMK_BEHAVIOR(you, macro,
    bindings = <&kp Y &kp O &kp U>;
)

ZMK_BEHAVIOR(and, macro,
    bindings = <&kp A &kp N &kp D>;
)

ZMK_BEHAVIOR(for, macro,
    bindings = <&kp F &kp O &kp R>;
)

ZMK_BEHAVIOR(here, macro,
    bindings = <&kp H &kp E &kp R &kp E>;
)

ZMK_BEHAVIOR(the, macro,
    bindings = <&kp T &kp H &kp E>;
)

ZMK_BEHAVIOR(ment, macro,
    bindings = <&kp M &kp E &kp N &kp T>;
)

ZMK_BEHAVIOR(ing, macro,
    bindings = <&kp I &kp N &kp G>;
)

ZMK_BEHAVIOR(ough, macro,
    bindings = <&kp O &kp U &kp G &kp H>;
)

ZMK_BEHAVIOR(i, macro,
    bindings = <&kp LS(I)>;
)

ZMK_BEHAVIOR(ion, macro,
    bindings = <&kp I &kp O &kp N>;
)

ZMK_BEHAVIOR(that, macro,
    bindings = <&kp T &kp H &kp A &kp T>;
)

ZMK_BEHAVIOR(qui, macro,
    bindings = <&kp Q &kp U &kp I>;
)

ZMK_BEHAVIOR(key, macro,
    bindings = <&kp K &kp E &kp Y>;
)

ZMK_BEHAVIOR(this, macro,
    bindings = <&kp T &kp H &kp I &kp S>;
)

ZMK_BEHAVIOR(dont, macro,
    bindings = <&kp D &kp O &kp N &kp SQT &kp T>;
)

ZMK_BEHAVIOR(in_the, macro,
    bindings = <&kp I &kp N &kp SPACE &kp T &kp H &kp E>;
)

ZMK_BEHAVIOR(hv, macro,
    bindings = <&kp H &kp A &kp V &kp E>;
)

ZMK_BEHAVIOR(qmk, macro,
    bindings = <&kp Q &kp M &kp K>;
)

ZMK_BEHAVIOR(keyboard, macro,
    bindings = <&kp K &kp E &kp Y &kp B &kp O &kp A &kp R &kp D>;
)

ZMK_BEHAVIOR(what, macro,
    bindings = <&kp W &kp H &kp A &kp T>;
)

// all layers
ZMK_COMBO(enter, &kp ENTER, LM1 LM2 LM3, U_BASE U_EXTRA)
ZMK_COMBO(esc,  &kp ESC, LB3 LB2, U_BASE U_EXTRA U_SEN)
//ZMK_COMBO(esc2,  &kp ESC, LH1 RM4, U_BASE U_EXTRA)
ZMK_COMBO(grave, &tg, RB0 RB1, U_BASE U_EXTRA)
ZMK_COMBO(equal, &kp EQUAL, RB2 RB3, U_BASE U_EXTRA)
ZMK_COMBO(gt, &kp GT, RB1 RB3, U_BASE U_EXTRA)
ZMK_COMBO(lt, &kp LT, RB1 RB4, U_BASE U_EXTRA)
ZMK_COMBO(updir, &updir, RB1 RB2 RB3, U_BASE U_EXTRA)
ZMK_COMBO(sw_app, &swapper, LB1 LB2 LB3, U_BASE U_EXTRA)

// base layer
ZMK_COMBO(cv_comma_qmark, &comma_qmark, LB1 LB2, U_BASE)
ZMK_COMBO(pdot_comma_qmark, &comma_qmark, RB1 RB2, U_BASE)
ZMK_COMBO(ip,  &ip, LH2 LT2 RM4, U_BASE)
ZMK_COMBO(ep,  &ep, LH2 LT2 RM3, U_BASE)
ZMK_COMBO(iw,  &iw, LH2 LT1 RM4, U_BASE)
ZMK_COMBO(ew,  &ew, LH2 LT1 RM3, U_BASE)
ZMK_COMBO(i,   &i, RH2 RM4, U_BASE)
ZMK_COMBO(sen, &sc_dot, RH2 RB2, U_BASE)
