// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/80/glove80.h"
#include "../miryoku/miryoku.dtsi"

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_glv80.h"

// workaround for shifted rgb functions not working in zmk
// see https://github.com/manna-harbour/miryoku_zmk?tab=readme-ov-file#global-shift-functions
ZMK_COMBO(rgb_brd, &rgb_ug RGB_BRD, LM1 RT3, U_MEDIA)
ZMK_COMBO(rgb_sai, &rgb_ug RGB_SAD, LM1 RT2, U_MEDIA)

#undef COMBO_TERM
#define COMBO_TERM 100

ZMK_BEHAVIOR(skq, sticky_key,
  bindings = <&kp>;
  release-after-ms = <300>;
  quick-release;
  ignore-modifiers;
)

ZMK_BEHAVIOR(sc_dot, macro,
    bindings = <&kp DOT &sl U_SEN>;
)
ZMK_BEHAVIOR(sc_space_shift, macro,
  bindings = <&kp SPACE &skq LSHFT>;
)
ZMK_BEHAVIOR(sc_mo_space_shift, hold_tap,
  tapping-term-ms = <135>;
  quick-tap-ms = <0>;
  flavor = "tap-preferred";
  bindings = <&mo>, <&sc_space_shift>;
)

ZMK_BEHAVIOR(shifted, macro_one_param,
  bindings =
    <&macro_press &kp LSHFT>,
    <&macro_param_1to1 &macro_tap &kp MACRO_PLACEHOLDER>,
    <&macro_release &kp LSHFT>;
)
ZMK_BEHAVIOR(as_ht, hold_tap,
  tapping-term-ms = <300>;
  quick-tap-ms = <0>;
  flavor = "tap-preferred";
  bindings = <&shifted>, <&kp>;
)
ZMK_BEHAVIOR(as, macro_one_param,
  bindings =
      <&macro_press>,
      <&macro_param_1to1>,
      <&macro_param_1to2>,
      <&as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>,
      <&macro_pause_for_release>,
      <&macro_release>,
      <&macro_param_1to1>,
      <&macro_param_1to2>,
      <&as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;
)
ZMK_BEHAVIOR(tripple_grave, macro,
  bindings = 
    <&macro_release &kp LSHFT>,
    <&macro_tap &kp GRAVE &kp GRAVE &kp GRAVE>;
)
ZMK_BEHAVIOR(tg, mod_morph,
  bindings = <&kp GRAVE>, <&tripple_grave>;
  mods = <(MOD_LSFT)>;
)

ZMK_COMBO(sen, &sc_dot, RH2 RB4, U_BASE)
ZMK_COMBO(enter, &kp ENTER, LM1 LM2 LM3, U_BASE)
ZMK_COMBO(esc,  &kp ESC, LB3 LB2, U_BASE)
ZMK_COMBO(esc2,  &kp ESC, LH1 RM4, U_BASE)
ZMK_COMBO(ip,  &ip, LH2 LT1 RM3, U_BASE)
ZMK_BEHAVIOR(ip, macro,
    bindings = <&sk LSHFT &kp D &kp A &kp V &kp I &kp D &kp SPACE &sk LSHFT &kp S &kp T &kp E &kp I &kp N &kp B &kp E &kp R &kp G &kp E &kp R>;
)
ZMK_COMBO(ep,  &ep, LH2 LT1 RM2, U_BASE)
ZMK_BEHAVIOR(ep, macro,
    bindings = <&kp M &kp A &kp I &kp L &kp DOT &kp S &kp T &kp E &kp I &kp N &kp B &kp E &kp R &kp G &kp E &kp R &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
)
ZMK_COMBO(iw,  &iw, LH2 LT4 RM3, U_BASE)
ZMK_BEHAVIOR(iw, macro,
    bindings = <&kp KP_N1 &kp KP_N0 &kp KP_N5 &kp KP_N0 &kp KP_N4 &kp KP_N2 &kp KP_N6 &kp KP_N9 &kp KP_N7>;
)
ZMK_COMBO(ew,  &ew, LH2 LT4 RM2, U_BASE)
ZMK_BEHAVIOR(ew, macro,
    bindings = < &kp D &kp A &kp V &kp I &kp D &kp DOT &kp S &kp T &kp E &kp I &kp N &kp B &kp E &kp R &kp G &kp E &kp R &kp AT &kp I &kp N &kp N &kp I &kp O &kp DOT &kp C &kp O &kp M>;
)

ZMK_COMBO(grave, &tg, RB0 RB1, U_BASE)
ZMK_COMBO(minus, &kp MINUS, RB1 RB2, U_BASE)
ZMK_COMBO(equal, &kp EQUAL, RB2 RB3, U_BASE)
ZMK_COMBO(lt, &kp LT, RB1 RB3, U_BASE)
ZMK_COMBO(gt, &kp GT, RB1 RB4, U_BASE)
ZMK_COMBO(updir, &updir, RB1 RB2 RB3, U_BASE)
ZMK_BEHAVIOR(updir, macro,
    bindings = <&kp DOT &kp DOT &kp SLASH>;
)
ZMK_COMBO(semi, &as SEMI, RB3 RB4, U_BASE)
ZMK_COMBO(sw_app, &swapper, LB1 LB2 LB3, U_BASE)
// Alt+Tab swapper, requires PR #1366
ZMK_BEHAVIOR(swapper, tri_state,
    bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;
    timeout-ms = <500>;
    ignored-key-positions = <LB1 LB2 LB3 LM1 RM1>;
)

ZMK_COMBO(every, &every, LH2 RM2 LB2, U_BASE)
ZMK_BEHAVIOR(every, macro,
    bindings = <&kp E &kp V &kp E &kp R &kp Y>;
)
//const uint16_t PROGMEM bspc_you[]      = {LT(U_NAV, KC_SPC), KC_D, KC_U, COMBO_END};
ZMK_COMBO(you, &you, LH2 LB1 RT3, U_BASE)
ZMK_BEHAVIOR(you, macro,
    bindings = <&kp Y &kp O &kp U>;
)
//const uint16_t PROGMEM bspc_and[]      = {LT(U_NAV, KC_SPC), KC_D, LCTL_T(KC_A), COMBO_END};
ZMK_COMBO(and, &and, LH2 LB1 RM4, U_BASE)
ZMK_BEHAVIOR(and, macro,
    bindings = <&kp A &kp N &kp D>;
)
//const uint16_t PROGMEM bspcf_for[]     = {LT(U_NAV, KC_SPC), KC_D, KC_F, COMBO_END};
ZMK_COMBO(for, &for, LH2 LB1 RT1, U_BASE)
ZMK_BEHAVIOR(for, macro,
    bindings = <&kp F &kp O &kp R>;
)
//const uint16_t PROGMEM bspch_here[]    = {LT(U_NUM, KC_BSPC), KC_H, COMBO_END};
ZMK_COMBO(here, &here, RH2 RB1, U_BASE)
ZMK_BEHAVIOR(here, macro,
    bindings = <&kp H &kp E &kp R &kp E>;
)
//const uint16_t PROGMEM bspct_the[]     = {LT(U_NUM, KC_BSPC), KC_H, LSFT_T(KC_T), COMBO_END};
ZMK_COMBO(the, &the, RH2 RB1 LM1, U_BASE)
ZMK_BEHAVIOR(the, macro,
    bindings = <&kp T &kp H &kp E>;
)
//const uint16_t PROGMEM bspcm_ment[]    = {LT(U_NUM, KC_BSPC), KC_M, COMBO_END};
ZMK_COMBO(ment, &ment, RH2 RM0, U_BASE)
ZMK_BEHAVIOR(ment, macro,
    bindings = <&kp M &kp E &kp N &kp T>;
)
//const uint16_t PROGMEM bspcg_ing[]     = {LT(U_NUM, KC_BSPC), KC_H, KC_G, COMBO_END};
ZMK_COMBO(ing, &ing, LM0 RM1 RM3, U_BASE)
ZMK_BEHAVIOR(ing, macro,
    bindings = <&kp I &kp N &kp G>;
)
//const uint16_t PROGMEM bspco_ough[]    = {LT(U_NAV, KC_SPC), KC_D, KC_O, COMBO_END};
ZMK_COMBO(ough, &ough, RH2 RT2, U_BASE)
ZMK_BEHAVIOR(ough, macro,
    bindings = <&kp O &kp U &kp G &kp H>;
)
//const uint16_t PROGMEM bspcol_ould[]   = {LT(U_NAV, KC_SPC), KC_O, KC_L, COMBO_END};
//ZMK_COMBO(ould, &ould, RH2 RT2 LT3 , U_BASE)
//ZMK_BEHAVIOR(ould, macro,
//    bindings = <&kp O &kp U &kp L &kp D>;
//)
//const uint16_t PROGMEM bspci[]         = {LT(U_NUM, KC_BSPC), LALT_T(KC_I), COMBO_END};
ZMK_COMBO(i, &i, LH2 LB1 RM3, U_BASE)
ZMK_BEHAVIOR(i, macro,
    bindings = <&kp LS(I)>;
)
//const uint16_t PROGMEM bspci_ion[]     = {LT(U_NAV, KC_SPC), KC_D, LALT_T(KC_I), COMBO_END};
ZMK_COMBO(ion, &ion, RH2 RB3, U_BASE)
ZMK_BEHAVIOR(ion, macro,
    bindings = <&kp I &kp O &kp N>;
)
//const uint16_t PROGMEM bspcis_ions[]   = {LT(U_NAV, KC_SPC), KC_D, LALT_T(KC_I), LGUI_T(KC_S), COMBO_END};
//ZMK_COMBO(ions, &ions, LH2 LB1 LM2 RM3, U_BASE)
//ZMK_BEHAVIOR(ions, macro,
//    bindings = <&kp I &kp O &kp N &kp S>;
//)
//const uint16_t PROGMEM bspcta_that[]   = {LT(U_NUM, KC_BSPC), LSFT_T(KC_T), LCTL_T(KC_A), COMBO_END};
ZMK_COMBO(that, &that, RH2 LM1 RM4, U_BASE)
ZMK_BEHAVIOR(that, macro,
    bindings = <&kp T &kp H &kp A &kp T>;
)
//const uint16_t PROGMEM bspcq_qui[]     = {LT(U_NUM, KC_BSPC), LT(U_BUTTON, KC_Q), KC_H, COMBO_END};
ZMK_COMBO(qui, &qui, RH2 LB4 RB1, U_BASE)
ZMK_BEHAVIOR(qui, macro,
    bindings = <&kp Q &kp U &kp I>;
)
//const uint16_t PROGMEM bspci_key[]     = {LT(U_NUM, KC_BSPC), KC_H, KC_K, COMBO_END};
ZMK_COMBO(key, &key, RH2 RB1 LB0, U_BASE)
ZMK_BEHAVIOR(key, macro,
    bindings = <&kp K &kp E &kp Y>;
)
//const uint16_t PROGMEM bspcts_this[]   = {LT(U_NUM, KC_BSPC), KC_H, LSFT_T(KC_T), LGUI_T(KC_S), COMBO_END};
ZMK_COMBO(this, &this, RH2 RB1 LM1 LM2, U_BASE)
ZMK_BEHAVIOR(this, macro,
    bindings = <&kp T &kp H &kp I &kp S>;
)
//const uint16_t PROGMEM bspcdn_dont[]   = {LT(U_NUM, KC_BSPC), KC_H, KC_D, COMBO_END};
ZMK_COMBO(dont, &dont, RH2 RB1 LB1, U_BASE)
ZMK_BEHAVIOR(dont, macro,
    bindings = <&kp D &kp O &kp N &kp SQT &kp T>;
)
//const uint16_t PROGMEM bspcit_in_the[] = {LT(U_NUM, KC_BSPC), LALT_T(KC_I), LSFT_T(KC_T), COMBO_END};
ZMK_COMBO(in_the, &in_the, RH2 RM3 LM1, U_BASE)
ZMK_BEHAVIOR(in_the, macro,
    bindings = <&kp I &kp N &kp SPACE &kp T &kp H &kp E>;
)
//const uint16_t PROGMEM hv_have[]       = {KC_H, KC_V, COMBO_END};
ZMK_COMBO(hv, &hv, RB1 LB2, U_BASE)
ZMK_BEHAVIOR(hv, macro,
    bindings = <&kp H &kp A &kp V &kp E>;
)
//const uint16_t PROGMEM qk_qmk[]        = {LT(U_BUTTON, KC_Q), KC_K, COMBO_END};
ZMK_COMBO(qmk, &qmk, LB4 LB0, U_BASE)
ZMK_BEHAVIOR(qmk, macro,
    bindings = <&kp Q &kp M &kp K>;
)
//const uint16_t PROGMEM kb_keyboard[]   = {KC_K, KC_B, COMBO_END};
ZMK_COMBO(keyboard, &keyboard, LB0 LT0, U_BASE)
ZMK_BEHAVIOR(keyboard, macro,
    bindings = <&kp K &kp E &kp Y &kp B &kp O &kp A &kp R &kp D>;
)
//const uint16_t PROGMEM wa_what[]       = {KC_W, LSFT_T(KC_T), LCTL_T(KC_A), COMBO_END};
ZMK_COMBO(what, &what, LT4 LM1 RM4, U_BASE)
ZMK_BEHAVIOR(what, macro,
    bindings = <&kp W &kp H &kp A &kp T>;
)

